.winnerBoard {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .eventTitle {
    text-transform: capitalize;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
